[submodule "spiderWeb"]
	path = spiderWeb
	url = https://github.com/Torxed/spiderWeb.git
[submodule "slimCrypt"]
	path = slimCrypt
	url = https://github.com/Torxed/slimCrypt.git
[submodule "slimWebSocket"]
	path = slimWebSocket
	url = https://github.com/Torxed/slimWebSocket.git
